<!-- <pre class="">questions form value: {{ questions.value | json }}</pre> -->
<p-panel
  *ngFor="let question of questions.controls; let i = index"
  [formGroup]="question"
  header="Question {{ i + 1 }}"
  [style]="{ 'margin-bottom': '10px' }"
  [toggleable]="true"
  toggler="header"
>
  <div class="ui-g ui-fluid">
    <div *ngIf="question.get('question_image_url').value" class="p-col">
      <p class="label">Image</p>
      <img
        [src]="question.get('question_image_url')?.value"
        alt=""
        height="100"
      />
    </div>
    <div class="ui-g-12">
      <p class="label">Image Url</p>
      <input type="text" pInputText formControlName="question_image_url" />
    </div>
    <div class="ui-g-12">
      <p class="label">Question <span class="star-required">*</span></p>
      <input type="text" pInputText formControlName="question_text" />
    </div>
    <div class="ui-g-12">
      <p class="label">Choice 1 <span class="star-required">*</span></p>
      <input
        type="text"
        pInputText
        formControlName="c1"
        [class.invalid-field]="questions.controls[i].get('c1').errors"
      />
    </div>
    <div class="ui-g-12">
      <p class="label">Choice 2 <span class="star-required">*</span></p>
      <input
        type="text"
        pInputText
        formControlName="c2"
        [class.invalid-field]="questions.controls[i].get('c2').errors"
      />
    </div>
    <div class="ui-g-12">
      <p class="label">Choice 3 <span class="star-required">*</span></p>
      <input
        type="text"
        pInputText
        formControlName="c3"
        [class.invalid-field]="questions.controls[i].get('c3').errors"
      />
    </div>
    <div class="ui-g-12">
      <p class="label">Choice 4 <span class="star-required">*</span></p>
      <input
        type="text"
        pInputText
        formControlName="c4"
        [class.invalid-field]="questions.controls[i].get('c4').errors"
      />
    </div>
    <div class="ui-g-12">
      <p class="label">Answer <span class="star-required">*</span></p>
      <p-dropdown
        [options]="answerOptions"
        formControlName="answer"
        [autoDisplayFirst]="false"
        [class.invalid-dropdown-field]="
          questions.controls[i].get('answer').errors
        "
      ></p-dropdown>
    </div>
    <div class="ui-g-12">
      <p class="label">Score <span class="star-required">*</span></p>
      <input
        type="number"
        min="0"
        pInputText
        formControlName="score"
        [class.invalid-field]="questions.controls[i].get('score').errors"
      />
    </div>
    <br />
    <div class="ui-g-12">
      <button
        type="button"
        icon="pi pi-trash"
        class="ui-button-danger"
        pButton
        label="Remove"
        (click)="removeQuestion(i)"
      ></button>
    </div>
  </div>
</p-panel>
<br />
<div class="p-grid p-justify-end button-end">
  <button
    pButton
    type="button"
    class="ui-button-success"
    icon="pi pi-plus"
    label="Question"
    (click)="addQuestion(initialQuestionValue)"
  ></button>
</div>
