.label {
    font-weight: bold;
    margin-bottom: .5em;
  }
  
  span.label {
    margin-right: .5em;
  }
  
  #row-empty {
    text-align: center;
    height: 5em;
  }
  
  .caption-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  