<h2>Subject List</h2>
<p-table
  #dt
  [loading]="loading"
  [lazy]="true"
  (onLazyLoad)="loadSubjectsLazy($event)"
  [totalRecords]="totalRecords"
  [value]="subjectList"
>
  <ng-template pTemplate="caption">
    <div class="caption-container">
      <div>
        <button
          class="ui-button-success"
          type="button"
          pButton
          icon="pi pi-plus"
          (click)="showDialogToAdd()"
          label="add"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Publicity</th>
      <th>Session Mange</th>
      <th class="action-column">Edit</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{ rowData.id }}</td>
      <td>{{ rowData.name }}</td>
      <td>{{ rowData.publicity }}</td>
      <td class="align-center">
        <button
          type="button"
          pButton
          (click)="onClickSessionManageButton(rowData.id)"
          label="Session Manage"
          class="ui-button-success"
        ></button>
      </td>
      <td class="align-center">
        <button
          type="button"
          pButton
          (click)="onClickEditButton(rowData)"
          icon="pi pi-pencil"
          class="ui-button-secondary"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr id="row-empty">
      <td [attr.colspan]="3">
        Not Found
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Subject"
  [(visible)]="displayDialog"
  [responsive]="true"
  [draggable]="false"
  [dismissableMask]="true"
  showEffect="fade"
  [modal]="true"
  [width]="300"
  (onHide)="onDialogHide($event)"
  [contentStyle]="{ overflow: 'visible' }"
>
  <div class="ui-g ui-fluid" *ngIf="subject" [formGroup]="subjectForm">
    <div class="ui-g-12">
      <p class="label">ID</p>
      <input
        class="fullwidth"
        formControlName="id"
        id="id"
        placeholder="Fill ID"
        type="text"
        pInputText
      />
    </div>

    <div class="ui-g-12">
      <p class="label">Name</p>
      <input
        class="fullwidth"
        formControlName="name"
        id="name"
        placeholder="Fill Name"
        type="text"
        pInputText
      />
    </div>

    <div class="ui-g-12">
      <p class="label">Publicity</p>
      <input
        class="fullwidth"
        formControlName="publicity"
        id="publicity"
        placeholder="Fill Publicity"
        type="text"
        pInputText
      />
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="fas fa-check"
        (click)="save()"
        label="Save"
        class="ui-button-success"
      ></button>
      <button
        *ngIf="subject.id"
        type="button"
        pButton
        icon="fas fa-times"
        (click)="delete()"
        label="Delete"
        class="ui-button-danger"
      ></button>
    </div>
  </p-footer>
</p-dialog>
