<div *ngIf="loadingQuestion" class="loading-container">
  <div style="align-self: center;">
    <p-progressSpinner></p-progressSpinner>
    <p style="text-align:center;">
      Loading...
    </p>
  </div>
</div>
<div *ngIf="!loadingQuestion">
  <div class="ui-g" *ngIf="question && formControlName">
    <div class="ui-g-12">
      <h2>คำถาม: {{ question.question_text }}</h2>
    </div>
    <div class="ui-g-12">
      <p-radioButton
        [name]="question.question_text"
        value="c1"
        [label]="question.c1"
        [formControlName]="formControlName"
        inputId="opt1"
      ></p-radioButton>
    </div>
    <div class="ui-g-12">
      <p-radioButton
        [name]="question.question_text"
        value="c2"
        [label]="question.c2"
        [formControlName]="formControlName"
        inputId="opt2"
      ></p-radioButton>
    </div>
    <div class="ui-g-12">
      <p-radioButton
        [name]="question.question_text"
        value="c3"
        [label]="question.c3"
        [formControlName]="formControlName"
        inputId="opt3"
      ></p-radioButton>
    </div>
    <div class="ui-g-12">
      <p-radioButton
        [name]="question.question_text"
        value="c4"
        [label]="question.c4"
        [formControlName]="formControlName"
        inputId="opt4"
      ></p-radioButton>
    </div>
  </div>
</div>
