<div class="flex my-container" style="height: 100vh">
  <p-card class="my-card">
    <div class="ui-g card">
      <div class="ui-g-6" style="background-color: #668FC4; height: 100%;">
        <img src="../../assets/img/educationPic.png" style="width:100%;" />
      </div>
      <div class="ui-g-6 flex">
        <img src="../../assets/img/logo.png" />
        <h1 class="my-text" style="align-items: center; display: flex;">
          <span class="blink_me"><i class="pi pi-video"></i></span>
          &nbsp;LIVE TEACHING
        </h1>
        <p-button
          icon="pi pi-google"
          iconPos="left"
          styleClass="ui-button-danger ui-button-rounded"
          (click)="loginGoogle()"
          label="Login with Google"
          [style]="{'fontSize': 'x-large'}"
        >
        </p-button>
      </div>
    </div>
  </p-card>
</div>
