.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  width: 100%;
}

.my-card {
  border-radius: 5px;
  box-shadow: 10px 20px 30px 5px rgba(0, 0, 0, 0.2);
}

.ui-card-body {
  padding: 0 !important;
}
.pi-google:before {
  font-size: x-large;
}

.my-text {
  font-size: xx-large;
}

.blink_me {
  animation: blinker 2s linear infinite;
  display: flex;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.my-container {
  background-image: linear-gradient(to top, #0085ad, #74c2d5, #a2d7e3);
}
